.navbar{
    background-color: darkslateblue;
    height:80px;
    display:flex;
    justify-content: start;
    align-items: center;
}
.menu-bars{
margin: 2rem;
font-size: 2rem;
background: none;
}
.nav-menu{
    background-color: darkslateblue;
    width: 250px;
    height: 100vh;
    display: flex;
}